/target
/classes
/checkouts
/logs
rebel.xml
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/.idea
**.iml
**.ipr
**.iws
pandora.yaml
pandora-example/example.yaml
**/.gradle
**/build
rebel.xml
discussion-service/discussionservice.yaml
