appsDeployerDomain: domain-of-the-api-which-returns-apps-list
cephDomain: domain-of-the-ceph-http-entry-point
cephPort: 80
httpClient:
  timeout: 7s
  connectionTimeout: 7s
  timeToLive: 1h
  cookiesEnabled: false
  maxConnections: 1024
  maxConnectionsPerRoute: 1024
  keepAlive: 0ms
  retries: 0
  userAgent: mobile-config (dropwizard)
logging:
  level: INFO
  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
    - type: file
      threshold: INFO
      currentLogFilename: /tmp/mobile-config.log
      archivedLogFilenamePattern: /tmp/mobile-config-%d.log.gz
      archivedFileCount: 5
server:
  applicationConnectors:
  - type: http
    port: 8080
  adminConnectors:
  - type: http
    port: 8081
consulConfig:
  tags:
    - auto_pandora
  consulUri: http://localhost:8500
  heartbeatInterval: 2s
  heartbeatTTL: 5s
